[Unit]
Description=Fractal service
StartLimitIntervalSec=0
[Service]
Environment=ENABLE_CLUSTER=true
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/node /home/ubuntu/FractalJS/dist/js/node/http/server.js

[Install]
WantedBy=graphical.target

